@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-color: #E5E5E5;
}

.book {
    height: 420px;
    width: 270px;
}

.cont {
    max-width: 1900px;
}


.left {
    min-width: 230px;
    max-width: 900px;
}


.cover {
    height: 400px;
}


.outlin {
    max-width: 1300px;
    border-radius: 10px;
    justify-content: space-evenly;
    margin: 0px 34px;
}

.img {
    border-radius: 13px;
}


.text {
    max-width: 866px;
}


.end {
    min-width: 200px;
}

.del {
    display: flex;
    justify-content: flex-end;
}

.exit {
    bottom: 18px;
    left: 19px;
}

.exit:hover {
    color: rgb(79, 79, 79);
}


.bot {
    display: flex;
    justify-content: center;
}

.end-cont {
    width: 1300px;
}


.price {
    width: 130px;
    border-radius: 5px;
    padding: 16px;
}

.bor {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.left-container {
    width: 510px;
}


.right-container {
    min-width: 320px;
}


.home-image {
    width: 320px;
    height: 450px;
    border-radius: 10px;
    cursor: pointer;
}

.bord {
    /* border: 1px solid pink; */
    display: flex;
    justify-content: center;
}

.empty {
    margin-top: 20px;
    width: 250px;
    height: 250px;
}